@model Azmoonak.Database.Models.User

@{
    ViewData["Title"] = "Admin Details | جزئیات مدیر";
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}


<div>
    <h4 id="edit-mode" class="text-center text-white rounded-3 p-1 mt-3" hidden></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
                <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Password)
        </dd>
        @*         <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Code)
        </dd> *@
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt> *@
        @* <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditAdminDashbord" asp-route-id="@Model?.Id" class="btn btn-warning"><span class="fa fa-lg fa-edit"></span> ویرایش پروفایل</a> |
    <a class="text-decoration-none btn btn-danger text-white" asp-action="Index"><span class="fa fa-angle-double-right fa-lg"></span> بازگشت</a>
</div>


<script type="text/javascript">

    let _edittitle = document.getElementById('edit-mode');

    window.addEventListener('load', () => {
        //alert('@(ViewBag.EditResult)');
        let result = '@(ViewBag.EditResult)';
        if (result == 'True') {
            _edittitle.innerHTML = "ویرایش با موفقیت انجام شد";
            _edittitle.classList.add('bg-success');
            _edittitle.hidden = false;
        }
    })
</script>